li.event-item {
    background-color: whitesmoke;
    padding: 12px;
    border: solid 1px lightgray;
    box-shadow: darkgray 0 0 2px 1.5px;
    margin-bottom: 12px;
}

.event-thumb {
    max-height: 60px;
    max-width: 60px;
    min-height: 30px;
    min-width: 30px;
}

.event-name {
    display: inline-block;
    height: 60px;
    float: right;
    font-size: 32px;
    line-height: 32px;
}

.event-location {
    margin-top: 8px;
    font-size: 18px;
}
